.left-part{
	display: inline-block;
}
.contact-header{
	
}
.contact-header a{
	color: white;
	display: inline-block;
}
.slides, .hero{
	height: 800px;
}
#about{
	padding-bottom: 0;
}

.list-inline-item{
    font-size: 16px;
}
.contact-header, .text-md-right{  
    display: inline-grid;
    /* display: flex;
    flex-direction: column; */
}
.text-md-right p{
    margin: 0 !important;
}
.contact-header{
    padding-left: 10px;
}

.left-part img{
    float: left;
}
.block-offer .uppercase{
    margin: 25px 0 25px 0;

}
